.weather {
  text-align: center;
  margin-top: 200px;
}

h1 {
  display: flex;
  justify-content: center;
}

.weather__form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.weather__input {
  width: 300px;
  box-sizing: border-box;
  padding: 15px;
  padding-right: 40px;
  border-radius: 20px;
  font-size: 22px;
  margin-bottom: 30px;
}

.weather__button {
  position: absolute;
  top: 20px;
  right: 15px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.weather__city,
.weather__temp,
.weather__info {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
